------------------------------------------------------------------------------------------------------------------------------ */
body{
    background-color: #263238;
}
#skills{
    background-image: url(img/skills.jpeg);
    width:100%;
    height:800px;
    background-repeat: no-repeat;
    background-size:100% 100%;
    margin-top:30px;
    
}
.nav-bar{
    margin-left:0px;
    margin-right:0px;
    font-weight: bold;
}
.nav-item a:hover,.nav-item a::selection{
    background-color:rgba(0,0,0,0.6);
    color:white !important;
}
.nav-item a:active{
    color:red !important;
}
.navbar{
    background-color:rgb(230, 230, 230) !important;
    border-bottom: 1px soild rgba(92, 92, 92, 0.568);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow:2px 0px 10px black;
}
.name{
    font-weight:700;
    text-shadow:2px 2px 10px grey;
}
.name-title{
    font-weight: 500;
    text-shadow:1px 1px 10px silver;
}
.heading{
    background-color: rgb(238, 238, 238);
    height:500px;
    /* border-radius: 20px;; */
}
/* ------------------------------------------------------------------------------------------------------------------------ */
.home-templates-arrow-1{
    width: 100px !important;
    margin: 0px auto !important;
    height: 0 !important;
    border-style: solid !important;
    border-width: 40px 100px 0 100px !important;
    border-color: black transparent transparent transparent !important;
    border-top:none;
}
.arrow-1{
    background-color: rgb(238, 238, 238);
}

.home-templates-arrow-2{
    width: 100px !important;
    margin: 0px auto !important;
    height: 0 !important;
    border-style: solid !important;
    border-width: 40px 100px 0 100px !important;
    border-color: rgb(238, 238, 238) transparent transparent transparent !important;
}
.arrow-2{
    background-color:rgb(26, 26, 26);
    background: linear-gradient(90deg, rgba(26,26,26,1) 44%, rgba(41,41,41,1) 65%);
}

.home-templates-arrow-3{
    width: 100px !important;
    margin: 0px auto !important;
    height: 0 !important;
    border-style: solid !important;
    border-width: 40px 100px 0 100px !important;
    border-color: rgb(238, 238, 238) transparent transparent transparent !important;
}
.arrow-3{
    background-color:rgb(59, 59, 59);
}

.home-templates-arrow-4{
    width: 100px !important;
    margin: 0px auto !important;
    height: 0 !important;
    border-style: solid !important;
    border-width: 40px 100px 0 100px !important;
    border-color: rgb(59, 59, 59) transparent transparent transparent !important;
}
.arrow-4{
    background-color:rgb(256, 256, 256);
}

.home-templates-arrow-5{
    width: 100px !important;
    margin: 0px auto !important;
    height: 0 !important;
    border-style: solid !important;
    border-width: 40px 100px 0 100px !important;
    border-color: rgb(26, 26, 26) transparent transparent transparent !important;
}
.arrow-5{
    background-color: rgb(238, 238, 238);
}
/* ----------------------------------------------------------------------------------------------------------------------------------------- */

.certifications{
    background-color:rgb(26, 26, 26);
    background: linear-gradient(90deg, rgba(26,26,26,1) 44%, rgba(41,41,41,1) 65%);
    color:white;
    height:1000px;
}
.certifications-carousel{
    background-image: url(img/laptop.jpg);
    width:100%;
    height:780px;
    background-repeat: no-repeat;
    background-size:100% 100%;
    margin-top:25px;
}
.carousel{
    height:635px;
    width:79%;
    margin-top:35px !important;
    margin-left: auto;
    margin-right: auto;
    transform: scaleX(0.98) translateX(12px) translateY(40px);
   
}
@media only screen and (max-width:600px){
    .certifications{
        height:600px;
    }
    .certifications-carousel{
        height:400px;
    }
    .carousel{
        transform: scaleX(0.96) scaleY(0.95) translateX(5px) translateY(10px);
    }
    .carousel-control-prev-icon{
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
        transform: translateY(-140px) translateX(-70px);
    }
    .carousel-control-next-icon{
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
        transform: translateY(-140px) translateX(70px);
    }
    .carousel-indicators{
        transform: translateY(-180px)
    } 
}
/.carousel-item img{
    
    width:100%;
    border-radius:10px;
} 

 .carousel-inner{
    border-radius: 10px;
}
.carousel-control-prev-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");

}
.carousel-control-next-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.heading-edu{
    background-color: rgb(238, 238, 238);
    height:600px;
}
.heading-edu .card-body{
    background-color:#495057;
    color:white;
    border-radius: 10px;
    box-shadow:2px 2px 10px black;
}
.card{
    border:none;
    background:none;
}
.heading-edu .card-header,.heading-edu .card-footer{
    background-color:#343a40 ;
    color:white;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;

}
.heading-edu .text-muted{
    color:rgb(182, 182, 182) !important;
}
.heading-edu li{
    font-weight:300;
}
.education .card{
    width:500px;
    margin-bottom:50px !important;
    box-shadow: 5px 5px 10px grey;
    border-radius:120px !important;
}
@media only screen and (max-width:600px){
    .#education{
        height:500px !important;
        transform: translateY(-50px);
    }
    .heading-edu .card-header,.heading-edu .card-footer{
        width:500px;
    }
    
}
@media only screen and (min-width:600px) and (max-width:1200px){
    .#education{
        height:500px;
        transform: translateY(-50px);
    }
    .heading-edu .card-header,.heading-edu .card-footer{
        width:300px !important;
    }
    
}
.display-4{
    font-weight: 500;
}
.display-4:nth-of-type(n){
    text-shadow:2px 2px 5px silver;
}
.display-4:nth-of-type(2n){
    text-shadow:3px 3px 5px rgb(43, 43, 43);
}
.card-header{
    font-weight: 700;
}
.card-text{
    font-weight:500;
}
.education-title{
    margin-top:70px !important;
}
.internships{
    height:1680px;
    background-color:rgb(59, 59, 59);
}


  .internships .card-body{
    color:#081c15;
    background-color:rgb(226, 226, 226);
    box-shadow: 2px 2px 7px white;
    width:70rem;
    border-radius: 10px;
    margin-top: 3px;
  }

  .internships .card-header{
    /* border-bottom: 1px solid black; */
    /* border: 2px solid black; */
    text-align: center;
    font-weight: 700;
    font-size:140%;
    border-radius: 10px;
    background-color:rgb(240, 240, 240);
    box-shadow: 2px 2px 7px white;
  }

  .internships .card-title{
    border-bottom: 1px dotted black;
    text-align: center; 
    padding-bottom: 15px;
    font-weight:500;
    border
  }
  .internships .card-text{
    font-weight:bold;
  }
  .experience-title{
      color:white;
      text-shadow: 2px 2px 5px silver;
      margin-top:50px;
      margin-bottom:50px !important;
  }
  .internships .btn-outline-success{
      border:2px solid green;
      font-weight:bold;
  }

  @media only screen and (max-width:600px){
      .internships .card-body{
          width: 500px !important;
          margin-bottom: 50px;;
      }
  } 
   @media only screen and (min-width:600px) and (max-width:800px){
      .internships .card-body{
          width: 500px !important;
          margin-bottom: 50px;;
      }
  }

.contact{
    background-color:white;
    padding-top:30px;
}
.heading-contact{
    background-color:white;
    padding-top:50px;
    height:300px;
}
.contact-left-section{
    border-right:1px solid black;
}

.left-container{
    height:200px !important;
}

.right-container{
    height:200px !important;
}
@media only screen and (max-width:600px){
   .right-container{
       display:flex;
       flex-direction:row !important;
       display:block !important;
       text-align:left !important;
   }
   .navbar{
       padding: 6px 0px !important;
   }
   .heading-contact{
       height:400px;
   }
   .right-container b{
       display: block !important;
   }
   .right-container p{
       width:200px !important;
       
   }
}
.flex-center a{
    margin
}
.special-color-dark{
    background-color:#263238 !important;
}
footer{
    width:100%;
    margin-left:0 !important;
    
}
footer.page-footer .footer-copyright{
    overflow:hidden;
    color:rgba(255,255,255,0.6);
    background-color: rgba(0,0,0,0.2);
    width:100%;
}


.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#a5a5a5;
}



.site-footer a
{
  color:#a5a5a5;
}
.site-footer a:hover
{
  color:white;
  text-decoration:none;
}

.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}

.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}

.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998;
}
.social-icons a.github:hover
{
  background-color:#4f2292;
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6;
}
.social-icons a.kaggle:hover
{
  color:#05aae6;
  background-color:white;
  text-shadow:1px 1px black;
}

.footer-site{
    background:#26272b;
}

@media only screen and (max-width:600px){
    .internships .card-body{
        width:23rem;
    }
    #skills{
        height:400px;
    }
    .heading{
        height:300px;
    }
    
}

